header {
  background-image: url("../../assets/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  padding: 0 5%;
}
header h1 {
  margin: 25px 0;
}
.form-container {
  display: flex;
  max-width: 555px;
  width: 100%;
}
input {
  height: 58px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  padding-left: 25px;
  font-size: 18px;
}
input::placeholder {
  color: var(--dark-gray);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  border: none;
  height: 58px;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  position: relative;
  background-color: black;
}

button:hover {
  background-color: hsl(0, 0%, 27%);
  transition: 150ms ease-in-out;
}
div[data-testid="oval-loading"] {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

@media screen and (max-width: 575px) {
  header h1 {
    font-size: 24px;
  }
  input {
    font-size: 14px;
  }
}
