.main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  color: var(--dark-gray);
  font-weight: bold;
}
.country-info {
  position: absolute;
  font-size: clamp(0.7rem, 0.8vw, 2rem);
  top: -75px;
  width: 90%;
  max-width: 1110px;
  z-index: 10000;
  background-color: white;
  padding: 39px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  border-radius: 10px;
  margin: 0 24px;
}

.country-info h2 {
  margin-top: 8px;
}
.info_container {
  position: relative;
}
.line {
  border-left: 1px solid #d9d9d9;
  height: calc(100% - 15px);
  position: absolute;
  top: 7px;
  left: -34px;
  margin: 0 16px;
}

@media screen and (max-width: 575px) {
  .country-info {
    padding: 20px;
    gap: 12px;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
